extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/new", class="navLink") Create New Messsage 

  h2 Messages:
  div.messages
    each message in messages
      div.message 
        div(class="span2") 
          strong Message: 
          | #{message.text}
        div 
          strong User: 
          | #{message.user} 
        div 
          strong Added: 
          | #{message.added}
